/*The Css for my landing page*/
html, body
{
	background-color: black;

}


/*The container for the header*/
#headerContainer
{
	position: relative;
	width: 100%;
	height: 0%;
	margin-top: 40vh;
	text-align: center;
}



#buttonContainer
{
	position: relative;
	width: 51%;
	text-align: right;
	margin-top: 40vh;
}

/*The style for the next page button*/
#toWhoIAmButton
{
	position: relative;
	color:white;
	background: transparent;
	font-size: 1vw;
	animation: fadeIn 2s;
	-moz-animation: fadeIn 2s;
}


/*The div stylingx for the border/expanding square*/
#landingReveal
{
	position: relative;
	top:0%; bottom:0; left:30vw;
	text-align: center;
	width: 38%;
	height:100%;
    animation: FirstReveal 1.5s;
    -moz-animation: FirstReveal 1.5s;
    border:solid white;
    background: black;
}

/*The id and styling for the header*/
#header
{
	text-align: center;
	-moz-animation: FirstReveal 1.5s;
	animation: Font-grow 1.5s;
	font-family: Dense-Regular, bold;
	font-size: 2vw;
	color:white;
}


/*The Animation section*/

@keyframes FirstReveal
{
	0% {width:0%; height:0%;}
	50% {width:38%; height:0%;}
    100% {width:38%;height:100%;}
}

@keyframes Font-grow
{
	0%{font-size: 0vw;}
	50%{font-size: 0vw;}
	100%{font-size: 2vw;}
}

@keyframes fadeIn
{
	0%{opacity: 0;}
	50%{opacity: 0;}
	75%{opacity: 0;}
	100%{opacity: 1;}
}

@-moz-keyframes FirstReveal
{
	0% {width:0%; height:0%;}
	50% {width:38%; height:0%;}
    100% {width:38%;height:100%;}
}

@-moz-keyframes Font-grow
{
	0%{font-size: 0vw;}
	50%{font-size: 0vw;}
	100%{font-size: 2vw;}
}

@-moz-keyframes fadeIn
{
	0%{opacity: 0;}
	50%{opacity: 0;}
	75%{opacity: 0;}
	100%{opacity: 1;}
}