html body
{
	height: 70vh;
	background: #291810;
	margin:0;

}

/*The container for the header*/
#headerContainer
{
	position: relative;
	width:100%;
	margin-top:40vh;
	text-align: center;
}

#imageContainer
{
	width: 100%;
	text-align: center;
}

h1
{
	font-size: 14vw;
	color:white;
}

/*The container for the answer*/
#aContainer
{
	position: relative;
	width:100%;
	margin-top: 15%;
	text-align: center;
}

p
{
	font-size: 2.2vw;
	letter-spacing: 2px;
	line-height: 5vh;
	color:white;
}


/*The button container*/
#buttonContainer
{
	position: relative;
	width: 100%;
	text-align: center;
	margin-top: 20%;
	margin-bottom: 10%;

}


button
{
	position: relative;
	background: transparent;
	border: solid white;
	font-size: 1vw;
	color: white;
}
